header {
	display:block;
	width:100%;
	padding:30px 30px 0;
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:3;
	@include clearfix;

	.logo {
		float:left;
		@include hide-text;
		background:url('images/logo.svg') center center / auto 100% no-repeat transparent;
		height:60px;
		width:98px;
	}

	nav {
		display:none;
		text-align:right;
		height:60px;
		overflow:hidden;

		@media only screen and (min-width: $breakpoint-med) {
			display:block;
		}

		.svg-wrapper {
			position: relative;
			margin: 0 auto;
			width: 320px;
			display:inline-block;
			height:60px;
			overflow:hidden;
			background:rgba(255,255,255,0.25);
			transition:background 1s ease-in-out;

			&:hover {

				background:rgba(255,255,255,0.5);

				.shape {
					stroke-width: 5px;
					stroke-dashoffset: 0;
					stroke-dasharray: 760;
				}

			}
		}

		.shape {
			stroke-dasharray: 140 540;
			stroke-dashoffset: -474;
			stroke-width: 0px;
			fill: transparent;
			stroke: #41be84;
			transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
		}

		.text {
			font-size: 18px;
			line-height: 32px;
			letter-spacing: 3px;
			color: #fff;
			top: -52px;
			font-weight:700;
			position: relative;
			text-decoration:none;
			color:rgba(0,0,0,0.75);
			text-transform:uppercase;
			text-align:center;

		}

		a {
			display:block;
			height:60px;
			width:100%;
			text-decoration:none;
		}

	}

}